@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* Change the font-family to a sans-serif font similar to Netflix Sans */
  font-family: 'Helvetica Neue', sans-serif;
  /* Change the background color to a dark shade */
  background-color: #141414;
  /* Change the text color to a light shade */
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  /* Change the text color to a light shade */
  color: #ffffff;
}

/* ... existing code ... */
